bin/
obj/
buildbin/
buildobj/
buildbin*/
buildobj*/
buildtmp/
dist/
.vs/
.dotnet/
.nuget/
.appdata/
.downloads/

*.user
*.suo
*.pdb
*.log

anevred*.zip

Models/Translation/**/node_modules/
Models/Translation/**/cache/
Models/Translation/**/node/
